* {
    font-family: 'Arial', sans-serif;
    background-color: #120e0e !important; /* Bootstrap's default background color */
    color: aliceblue;
}

.heading {
    text-align: center;
    padding: 50px 20px;
}

.head-parent {
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
}

h1 {
    color: #b63e3e !important; /* Bootstrap primary color */
}

h4 {
    color: #f1e4dc !important; /* Bootstrap secondary color */
}

hr {
    border: 1px solid #e8d3d3 !important; /* Bootstrap border color */
}

/* Responsive Padding for h4 */
@media (max-width: 768px) {
    .heading h4 {
        padding: 10px;
    }
}
