body {
    font-family: 'Arial', sans-serif;
    background-color: #120e0e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #b63e3e;
}

.detail-description {
    line-height: 1.6;
    margin-top: 20px;
    white-space: pre-line;
    margin-bottom: 30px;
}

/* You can add more styling as needed */
