<%- include('./includes/head') %>
    <%- include('./includes/navbar') %>

    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <div>
            <h2>Error 404 page not found</h2>
        </div>
    </div>


    <%- include('./includes/end') %>